/* * {
  border: 1px solid gray;
  padding: 0px;
} */

img {
  width: 80px;
  margin-bottom: 5px;
}

html,
body {
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
}

ul {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: #93a2bf;
  /* font-size: 30px; */
}

#root {
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background: #313640;
}

li {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style-type: none;
}

#menuDiv {
  padding: 10px;
  height: fit-content;
  flex: none;
  background: #313640;
}
#bodyDiv {
  width: 100%;
  height: initial;
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  color: white;
}

.menuBtn {
  box-shadow: inset 0px 0px 7px 0px #29bbff;
  background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
  background-color: #2dabf9;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  padding: 9px 30px;
  text-decoration: none;
  text-shadow: 0px 0px 0px #263666;
  border-width: 0px;
  margin-bottom: 2px;
  width: 150px;
}
.menuBtn:hover {
  background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
  background-color: #0688fa;
}
.menuBtn:active {
  position: relative;
  top: 1px;
}
